@keyframes example1 {
    0%{
        left: -200px;
        opacity: 0;

    }
    100%{
        left: 200px;
        opacity: 1;
    }
    
}


.box {
    left: 200px;
    width: 200px;
    height: 50px;
    background-color: #5c5656;
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    font-family:'Times New Roman', Times, serif;
    animation: example1 3s ease 1s;
    margin: 5px;
}

.box:hover{
    transform: scale(1.07);
    cursor: pointer;
    transition: 0.5s;
}

p::before{
    content: "!!!";
}

.box:nth-child(odd){
    background-color: chocolate;
}